<a href="https://colab.research.google.com/github/anushka10079/EDArepo/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
dataframe = pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Medicaid1986.csv")

In [4]:
#top 10 values
dataframe.head(10)

,rownames,visits,exposure,children,age,income,health1,health2,access,married,gender,ethnicity,school,enroll,program
0,1,0,100,1,24,14.500,0.495,-0.854,0.50,no,female,cauc,13,yes,afdc
1,2,1,90,3,19,6.000,0.520,-0.969,0.17,no,female,cauc,11,yes,afdc
2,3,0,106,4,17,8.377,-1.227,0.317,0.42,no,female,cauc,12,yes,afdc
3,4,0,114,2,29,6.000,-1.524,0.457,0.33,no,female,cauc,12,yes,afdc
4,5,11,115,1,26,8.500,0.173,-0.599,0.67,no,female,cauc,16,yes,afdc
5,6,3,102,1,22,6.000,-0.905,0.062,0.25,no,female,other,12,yes,afdc
6,7,0,92,2,24,4.000,-1.202,0.202,0.50,no,female,cauc,11,yes,afdc
7,8,6,92,1,21,6.000,0.656,-0.981,0.67,yes,female,cauc,11,yes,afdc
8,9,1,117,1,21,6.000,-1.227,0.317,0.25,no,female,cauc,12,yes,afdc
9,10,0,101,1,24,6.000,-0.235,-0.562,0.67,yes,female,cauc,15,yes,afdc

In [5]:
#last 10 values
dataframe.tail(10)

,rownames,visits,exposure,children,age,income,health1,health2,access,married,gender,ethnicity,school,enroll,program
986,987,2,98,0,68,4.000,-2.113,0.236,0.33,no,male,cauc,10,no,ssi
987,988,2,114,0,66,8.500,-0.404,-0.876,0.17,no,female,cauc,12,no,ssi
988,989,4,114,0,87,6.000,0.416,0.810,0.58,no,female,cauc,9,no,ssi
989,990,12,114,0,78,8.500,1.822,0.298,0.33,no,female,cauc,13,no,ssi
990,991,0,117,0,67,11.500,-0.209,-0.122,0.58,yes,female,other,6,no,ssi
991,992,0,106,0,65,8.500,-2.264,0.347,0.33,yes,male,cauc,8,no,ssi
992,993,1,107,0,90,9.660,1.532,0.455,0.50,yes,male,cauc,0,no,ssi
993,994,10,116,1,70,6.000,2.660,-0.723,0.17,no,female,cauc,8,no,ssi
994,995,3,118,0,73,6.000,0.813,0.056,0.17,no,female,cauc,12,no,ssi
995,996,0,115,2,71,10.444,-2.113,0.236,0.42,yes,male,other,14,no,ssi

In [6]:
#Finding no of entries in exposure column
dataframe['exposure'].value_counts()

exposure
106    54
101    53
107    53
100    52
99     50
113    47
114    42
97     40
110    39
90     38
103    38
93     37
116    36
102    36
115    34
109    31
98     30
108    30
92     29
96     26
91     23
105    23
118    23
120    21
111    20
104    18
117    15
94     15
119    11
95     11
112     8
89      7
39      1
32      1
52      1
69      1
86      1
71      1
Name: count, dtype: int64

In [7]:
#Finding no of entries in income column
dataframe['income'].value_counts()

income
6.000     363
8.500     236
11.500    107
17.500     69
4.000      65
14.500     34
2.500      19
7.993      11
1.500      10
0.500       8
7.218       5
8.377       4
9.782       4
7.250       4
7.990       4
7.839       3
9.875       3
10.264      3
8.250       3
7.140       3
7.040       3
8.554       3
7.831       3
7.950       2
10.750      2
6.931       2
8.114       2
10.204      2
6.180       2
9.660       2
12.150      1
12.262      1
6.375       1
8.950       1
9.643       1
9.642       1
9.963       1
7.562       1
9.578       1
13.375      1
8.375       1
7.150       1
6.850       1
7.152       1
10.444      1
Name: count, dtype: int64

In [8]:
#Using describe function for dataset

dataframe.describe()

,rownames,visits,exposure,children,age,income,health1,health2,access,school
count,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000
mean,498.500000,1.930723,104.060241,1.314257,55.205823,8.191302,-0.000013,0.000020,0.398102,9.029116
std,287.664735,3.354472,9.144973,1.509314,24.961373,3.630549,1.436934,0.740226,0.184439,4.353957
min,1.000000,0.000000,32.000000,0.000000,16.000000,0.500000,-2.264000,-2.177000,0.000000,0.000000
25%,249.750000,0.000000,98.000000,0.000000,29.000000,6.000000,-1.151250,-0.472000,0.297500,6.000000
50%,498.500000,1.000000,104.000000,1.000000,66.000000,7.990000,-0.316500,-0.009000,0.420000,10.000000
75%,747.250000,3.000000,111.000000,2.000000,78.000000,8.500000,0.858000,0.347000,0.500000,12.000000
max,996.000000,50.000000,120.000000,9.000000,105.000000,17.500000,7.217000,3.048000,1.000000,18.000000

In [9]:
#Reshaping with Hierarchical Indexing
stacked = dataframe.stack()
stacked

0    rownames         1
     visits           0
     exposure       100
     children         1
     age             24
                  ...
995  gender        male
     ethnicity    other
     school          14
     enroll          no
     program        ssi
Length: 14940, dtype: object

In [10]:
#Using the unstack function for the above stacked Data
stacked.unstack()

,rownames,visits,exposure,children,age,income,health1,health2,access,married,gender,ethnicity,school,enroll,program
0,1,0,100,1,24,14.5,0.495,-0.854,0.5,no,female,cauc,13,yes,afdc
1,2,1,90,3,19,6.0,0.52,-0.969,0.17,no,female,cauc,11,yes,afdc
2,3,0,106,4,17,8.377,-1.227,0.317,0.42,no,female,cauc,12,yes,afdc
3,4,0,114,2,29,6.0,-1.524,0.457,0.33,no,female,cauc,12,yes,afdc
4,5,11,115,1,26,8.5,0.173,-0.599,0.67,no,female,cauc,16,yes,afdc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,992,0,106,0,65,8.5,-2.264,0.347,0.33,yes,male,cauc,8,no,ssi
992,993,1,107,0,90,9.66,1.532,0.455,0.5,yes,male,cauc,0,no,ssi
993,994,10,116,1,70,6.0,2.66,-0.723,0.17,no,female,cauc,8,no,ssi
994,995,3,118,0,73,6.0,0.813,0.056,0.17,no,female,cauc,12,no,ssi
995,996,0,115,2,71,10.444,-2.113,0.236,0.42,yes,male,other,14,no,ssi

In [11]:
#Checking for Duplicated Data
dataframe.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
991    False
992    False
993    False
994    False
995    False
Length: 996, dtype: bool

In [12]:
#Checking fir null values
dataframe.isnull()

,rownames,visits,exposure,children,age,income,health1,health2,access,married,gender,ethnicity,school,enroll,program
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
# We can use the sum() method to count the number of NaN values in each store.
dataframe.isnull().sum()

rownames     0
visits       0
exposure     0
children     0
age          0
income       0
health1      0
health2      0
access       0
married      0
gender       0
ethnicity    0
school       0
enroll       0
program      0
dtype: int64

In [15]:
#We can go one level deeper to find the total number of missing values
dataframe.isnull().sum().sum()

0

In [16]:
#No of values in the dataset
dataframe.count()

rownames     996
visits       996
exposure     996
children     996
age          996
income       996
health1      996
health2      996
access       996
married      996
gender       996
ethnicity    996
school       996
enroll       996
program      996
dtype: int64

In [20]:
#Finding sum of column health1 in dataset
hel1 = dataframe.health1
hel1.sum()

-0.012999999999994571

In [21]:
#Finding mean of health1 in dataset
hel1.mean()

-1.3052208835335916e-05

In [22]:
#finding cumsum of health1 in dataset
hel1.cumsum()

0      0.495
1      1.015
2     -0.212
3     -1.736
4     -1.563
       ...
991   -2.905
992   -1.373
993    1.287
994    2.100
995   -0.013
Name: health1, Length: 996, dtype: float64

In [23]:
#Finding sum of column income in dataset
incc = dataframe.income
incc.sum()

8158.537

In [24]:
#Finding mean of income in dataset
incc.mean()

8.191302208835342

In [25]:
#finding cumsum of income in dataset
incc.cumsum()

0        14.500
1        20.500
2        28.877
3        34.877
4        43.377
         ...
991    8126.433
992    8136.093
993    8142.093
994    8148.093
995    8158.537
Name: income, Length: 996, dtype: float64

In [26]:
#Finding income  that exceeded 8:
dataframe[np.abs(dataframe.income) > 8]

,rownames,visits,exposure,children,age,income,health1,health2,access,married,gender,ethnicity,school,enroll,program
0,1,0,100,1,24,14.500,0.495,-0.854,0.50,no,female,cauc,13,yes,afdc
2,3,0,106,4,17,8.377,-1.227,0.317,0.42,no,female,cauc,12,yes,afdc
4,5,11,115,1,26,8.500,0.173,-0.599,0.67,no,female,cauc,16,yes,afdc
17,18,1,111,1,30,8.500,-0.285,-0.332,0.58,no,female,other,13,yes,afdc
20,21,0,110,4,42,8.500,0.581,-0.637,0.42,no,female,other,10,yes,afdc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,990,12,114,0,78,8.500,1.822,0.298,0.33,no,female,cauc,13,no,ssi
990,991,0,117,0,67,11.500,-0.209,-0.122,0.58,yes,female,other,6,no,ssi
991,992,0,106,0,65,8.500,-2.264,0.347,0.33,yes,male,cauc,8,no,ssi
992,993,1,107,0,90,9.660,1.532,0.455,0.50,yes,male,cauc,0,no,ssi
995,996,0,115,2,71,10.444,-2.113,0.236,0.42,yes,male,other,14,no,ssi